
<p id="notice"><%= notice %></p>

<div class="container">
    <div class="page-header text-center" style="border:none;">
      <h2 id="timeline" style="color:white;"><i class="fa fa-paper-plane-o fa-4x"></i>Blog Posts</h2>
      <div class="">Blogging & Coding is my passion ...!</div>
    </div>
  <style>
  a{
    text-decoration:none;color:white;
  }
    
  </style>
  <center>
    <%= link_to 'New Post', new_post_path ,:class => "btn btn-default btn-xs"%>
    <%= link_to 'Edit Post' , edit_post_path(@post),:class => "btn btn-default btn-xs" %> <%= link_to 'Back ', posts_path,:class => "btn btn-default btn-xs" %>
    <br/>
    <small>Feel free to create new post.. </small>
    <br/>
    <br/><br/>
  </center>
  
  <center css="grow pic"><img class="img-responsive" src="<%= @post.img_url %>" st /></center>
  <h3 style="color:white;"> <%= @post.title %></h3>

<div class="well" style="background-color:none;color:black;">
  <strong>Content Published :</strong>
  <%= @post.post %>
</div>


<div class="well" style="background-color:none;color:black;">
  <strong>Author:</strong>
  <%= @post.author %>
</div>
</div>
